<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encrypt API Docs</title>
    <style>*{font-family: sans-serif;}</style>
</head>
<body>
    <p><b>Encrypt String: </b>send a post requests to <b>/encrypt</b></p>
    <p><b>Decrypt String: </b>send a post requests to <b>/decrypt</b></p>
    <p><b>Generate Key: </b>send a request to <b>/gen_key</b></p>
    <br>
    <p>Every request to /encrypt and /decrypt should contain a json with the following params:</p>
    <p>{"key": "Your generated secure key to en- and dexrypt", "text": "Text you want to en- or decrypt"}</p>
</body>
</html>